DATABASE_URL="postgresql://townofarkaoda_user:townof8788@130.162.51.208:5432/townofarkaoda_db?sslmode=disable"
GEMINI_API_KEY=AIzaSyB1JkMC6GNVqoHPmwIpKsCZ_c0g4mZm2F8
NEXTAUTH_SECRET=town-of-arkaoda-super-secret-key-change-in-production
NEXTAUTH_URL=https://townofarkaoda.onrender.com/